body
{
	color: black;
	background-color: white;
	font-family: Palatino, Georgia, serif;
	font-size: 1em;
	line-height: 1.4;
	text-align: left;
	text-indent: 0em;
	border: 0 none;
	margin: 0em;
	padding: 1em;
	text-align: left;
	-epub-word-break: keep-all;
	-webkit-nbsp-mode: space;
	-webkit-line-break: after-white-space;
	oeb-column-number: 1; /* Never display in multiple columns */
}

p
{
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 1.0em;
}

center
{
	text-align: center;
}

a
{
	color: #02e;
	text-decoration: none;
	outline: none;
}

a:link
{
	color: #02e;
	text-decoration: none;
	outline: none;
}

a:visited
{
	color: #02e;
	text-decoration: none;
	outline: none;
}

.center
{
	text-align: center;
}

h1
{
	font-size: 3.5em;
	line-height: 1em;
	font-weight: bold;
	margin: 0;
}

h3
{
	font-size: 1.2em;
	line-height: 1em;
	font-weight: bold;
	margin: 0;
}

h4
{
	font-size: 2.0em;
	line-height: 1em;
	font-weight: bold;
	margin: 0;
}

.patreon
{
	font-size: 1.5em;
	line-height: 1em;
	margin: 0;
}
